/* common */
.clear {
    clear: both;
}

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, arial, sans-serif;
    scroll-behavior: smooth;
}


#main {

}

/* start header */
#header {
    position: fixed;
    /* khi co position, thuoc tính ke thua toan bo chieu ngang bi mat*/
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#header #nav {
    color: white;
    text-decoration: none;
}

#nav li {
    position: relative;
}

/* thẻ a phải chứa trong thẻ li, bên trong thẻ có id là nav 

*/
#nav > li > a {
    color: white;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #cccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5) ;
}

#nav .subnav a {
    color: #030303;
    padding: 0 12px;
}
/* begin search */

#header .search-btn {
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/* end search */
/* end header */

/* --------------------------------- */

/* start slider */
#slider {
    min-height: 500px;
    background: url('../img/slider/slider3.jpg') top center / cover no-repeat;
    margin-top: 46px ;
    padding-top: 50%;
    position: relative;
}


#slider .text-content {
    position: absolute;
    color: #ffff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* text-align: center; */
}




/* end slider */


/* ------------------------------------- */
/* start content */


/* end content */


/* -------------------------------------- */

/* start footer */



/* end footer */